@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Mochiy Pop P One', sans-serif;
    background-color: #f2acac;
}

.back {
    position: relative;
    top: 175px;
    left: -250px;
    text-decoration: none;
    height: 40px;
    width: 145px;
    background-color: #C8A2c8;
    text-align: center;
    justify-content: center;
}

a, a:visited, a:hover, a:active {
    color: #000;
}